# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Build directories
dist/*
!dist/ddataframe-0.1.0.tar.gz
!dist/ddataframe-0.1.0-py3-none-any.whl
build/
*.egg-info/

# Virtual Environment
venv/
penv/
ENV/
.env
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Test
.coverage
.pytest_cache/
htmlcov/

# Misc
.DS_Store
